<template>
    <div>
        <v-snackbar
            v-model="snackbar"
            bottom
            right
        >
            {{ snackbarText }}
            <v-btn
                flat
                color="pink"
                @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
        <v-dialog
            v-model="gotoClientArea"
            width="500"
        >
            <v-card>
                <v-card-title
                    class="headline grey lighten-4"
                    primary-title
                >
                    Alright...
                </v-card-title>

                <v-card-text>
                    Your account has been created, once payment has been received your hosting will be activated.
                </v-card-text>

                <v-card-actions>
                    <v-spacer/>
                    <v-btn
                        color="primary"
                        flat
                        @click="toClientArea"
                    >
                        Goto Client Area
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="loading"
            persistent
            fullscreen
            transition="div"
        >
            <v-container fill-height>
                <v-layout
                    row
                    justify-center
                    align-center>
                    <v-progress-circular
                        indeterminate
                        color="primary"/>
                </v-layout>
            </v-container>
        </v-dialog>
        <v-dialog
            v-model="redirecting"
            :width="modalWidth"
            persistent
        >
            <v-card>
                <checkout-iframe
                    ref="checkoutIframe"
                    :style="iframeStyle"
                    @content-loaded="completeCheckout"
                >
                    <form
                        :action="paymentForm.url"
                        method="post">
                        <input
                            v-for="(value, key) in paymentForm.data"
                            :key="key"
                            :name="key"
                            :value="value"
                            type="hidden"
                        >
                    </form>
                </checkout-iframe>
            </v-card>
        </v-dialog>
        <v-container
            v-if="!loading"
            grid-list-lg>
            <v-layout
                justify-center
                row>
                <div class="tw-flex tw-flex-wrap-reverse">
                    <v-flex
                        md8
                        xl5>
                        <v-expansion-panel :value="tabIndex">
                            <v-expansion-panel-content
                                v-for="({ title, component, visible, next }, i) in steps"
                                v-if="visible"
                                :key="title"
                                :class="{ 'disable': i > tabIndex }"
                                :value="selectedStep === component.name"
                                @input="selectedStep = component.name"
                            >
                                <div
                                    slot="header"
                                    class="headline tw-flex tw-items-center"
                                >
                                    <span
                                        class="mr-2"
                                        v-text="title"
                                    />
                                    <transition name="slide-fade">
                                        <v-icon
                                            v-if="completedSteps.includes(component.name)"
                                            color="green"
                                        >
                                            check_circle
                                        </v-icon>
                                    </transition>
                                </div>
                                <component
                                    :is="component"
                                    :next="next"
                                    :terms="terms"
                                    :addons="addons"
                                    :processing="processing"
                                    v-model="checkout"
                                    @submit="nextStep"
                                    @server-error="handleServerError"
                                    @valid="(status) => { markExpandedComponentValidity(status, component.name) }"
                                />
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-flex>

                    <v-flex
                        md4
                        xl3>
                        <checkout-summary :sub-total="subTotal">
                            <cost-power
                                :data-term="term"
                                :data-product="product"
                                :data-specs="specs"
                                @total="powerCost = $event"
                                @modify="startModifyingTerm"
                                @upgrade="selectedStep = 'AddCustomize'"
                            />
                            <cost-domains
                                v-if="checkout.domains.length"
                                :data-term="term"
                                :data-domains="checkout.domains"
                                @total="domainsCost = $event"
                                @remove="removeDomain"
                            />
                            <cost-addons
                                v-if="checkout.addons.length"
                                :data-term="term"
                                :data-addons="checkout.addons"
                                @total="addonsCost = $event"
                                @modify="selectedStep = 'AddCustomize'"
                            />
                        </checkout-summary>
                    </v-flex>
                </div>
            </v-layout>
        </v-container>

        <v-container class="pt-0">
            <v-layout column>
                <v-flex>
                    <div class="right hidden-md-and-up">
                        <img
                            src="norton-secured-seal.png"
                            style="height: 100px;"
                        >
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
import { debounce, upperFirst } from '../utils'
import HandleSteps from '../mixins/HandleSteps'
import CostPower from './../components/CostPower'
import CostAddons from './../components/CostAddons'
import AddAccount from './../components/AddAccount'
import CostDomains from './../components/CostDomains'
import { mapActions, mapGetters, mapState } from 'vuex'
import RememberCheckout from './../mixins/RememberCheckout'
import CheckoutIframe from './../components/CheckoutIframe'
import CheckoutSummary from './../components/CheckoutSummary'
import { VProgressCircular, VDialog, VSnackbar } from 'vuetify'
import * as VCard from 'vuetify/es5/components/VCard'
import * as VExpansionPanel from 'vuetify/es5/components/VExpansionPanel'

export default {
    name: 'Checkout',

    components: {
        VDialog,
        VSnackbar,
        CostPower,
        CostAddons,
        CostDomains,
        CheckoutIframe,
        CheckoutSummary,
        VProgressCircular,
        ...VCard,
        ...VExpansionPanel,
    },

    mixins: [RememberCheckout, HandleSteps],

    data: () => ({
        tabIndex: 0,
        powerCost: 0,
        addonsCost: 0,
        domainsCost: 0,
        completedSteps: [],
        selectedStep: AddAccount.name,
        expandedComponentValid: false,
        loading: true,
        snackbarText: '',
        snackbar: false,
        processing: false,
        redirecting: false,
        gotoClientArea: false,
        paymentForm: {
            url: '',
            data: {},
        },
    }),

    computed: {
        ...mapState(['product']),

        ...mapGetters(['specs', 'terms', 'addons']),

        iframeStyle() {
            if (this.checkout.payment_method === 'card') {
                return { width: '420px', height: '416px', overflow: 'hidden' }
            }
            return { width: '800px', height: '600px', overflow: 'hidden' }
        },

        modalWidth() {
            if (this.checkout.payment_method === 'card') {
                return 420
            }
            return 800
        },

        term() {
            const queryTerm = this.terms.find(
                item => item.name === this.$route.query.term
            )
            const checkoutTerm = this.terms.find(
                item => item.id === this.checkout.term_id
            )

            if (checkoutTerm) {
                return checkoutTerm
            }

            if (queryTerm) {
                return queryTerm
            }

            return this.terms[0]
        },

        selectedIndex() {
            return this.steps.findIndex(
                step => step.component.name == this.selectedStep
            )
        },

        subTotal() {
            return this.powerCost + this.addonsCost + this.domainsCost
        },

        allowPersist() {
            return (
                !this.loading &&
                this.selectedStep !== 'AddPayment' &&
                this.expandedComponentValid
            )
        },

        checkoutPayload() {
            const domains = this.checkout.domains.map(item => {
                const terms = item.terms || item.domain.terms
                return {
                    domain_id: item.domain_id || item.id,
                    term_id: terms.find(term => term.name == this.term.name).id,
                    name: item.name || item.domain,
                }
            })

            const addons = this.checkout.addons.map(item => {
                const terms = item.terms || item.product.terms
                return {
                    ...item,
                    term_id: terms.find(term => term.name == this.term.name).id,
                }
            })

            return {
                ...this.checkout,
                term_id: this.term.id,
                product_id: this.product.id,
                addons,
                domains,
            }
        },
    },

    watch: {
        checkout: {
            deep: true,
            handler: debounce(async function() {
                if (!this.allowPersist) return

                try {
                    this.snackbar = false

                    await this.persistCheckout(this.checkoutPayload)
                } catch (e) {
                    //
                }
            }, 500),
        },
    },

    async created() {
        await Promise.all([
            this.fetchProduct(),
            this.fetchCheckoutIfCookieExists(),
            this.setCheckoutCookieIfNotExists(),
        ])

        this.loading = false

        this.markCompletedSteps()
    },

    methods: {
        ...mapActions(['fetchProduct']),

        startModifyingTerm() {
            this.tabIndex = 2

            this.selectedStep = 'AddTerm'

            this.completedSteps.push('AddTerm')
        },

        markCompletedSteps() {
            if (this.checkout.email) {
                this.completedSteps.push('AddAccount')
                this.tabIndex = 1
            }

            if (this.checkout.domains.length) {
                this.completedSteps.push('AddDomain')
                this.tabIndex = 2
            }

            if (this.checkout.domains.length && this.checkout.term_id) {
                this.completedSteps.push('AddTerm')
                this.tabIndex = 3
            }

            if (
                this.checkout.domains.length &&
                this.checkout.term_id &&
                this.checkout.addons.length >= 0
            ) {
                this.completedSteps.push('AddCustomize')
                this.tabIndex = 4
            }

            if (this.checkout.term_id && this.checkout.name) {
                this.completedSteps.push('AddBilling')
                this.tabIndex = 5
            }
        },

        markExpandedComponentValidity(valid, component) {
            if (this.selectedStep !== component) return

            this.expandedComponentValid = valid

            this.toggleComplete(valid, component)
        },

        toggleComplete(valid, component) {
            if (valid && !this.completedSteps.includes(component)) {
                this.completedSteps.push(component)
            }

            if (!valid && this.completedSteps.includes(component)) {
                this.completedSteps.splice(
                    this.completedSteps.indexOf(component),
                    1
                )
            }
        },

        removeDomain(domain) {
            const domains = this.checkout.domains.filter(item => {
                return (
                    (item.domain_id || item.id) !==
                    (domain.domain_id || domain.id)
                )
            })

            this.checkout = {
                ...this.checkout,
                domains,
            }
        },

        async nextStep(step = null) {
            this.snackbar = false

            if (step) {
                if (this.tabIndex === this.selectedIndex) this.tabIndex++
                this.selectedStep = step
                return
            }

            try {
                this.processing = true

                const {
                    data: { data },
                } = await this.persistCheckout({
                    ...this.checkoutPayload,
                    action: 'payment',
                })

                this.handleStatus(data)
            } catch (e) {
                if (e.response.status === 500) {
                    this.handleServerError()
                } else {
                    this.handleFailed()
                }
            }
        },

        handleStatus(data) {
            const status = upperFirst(data.payment_status)

            return this[`handle${status}`](data)
        },

        handleSuccess() {
            this.snackbarText = 'Thank you for your order.'

            this.finishProcessing()
        },

        handleFailed() {
            this.snackbarText =
                'Sorry, the payment failed. Please check your details or try an alternative payment method.'

            this.finishProcessing()
        },

        handleRedirect(data) {
            const type = upperFirst(data.payment_method)

            return this[`handle${type}Payment`](data)
        },

        async handlePaypalPayment({ payment_data }) {
            this.paymentForm = payment_data.redirect

            this.redirecting = true

            this.submitIframeContent()
        },

        async handleCardPayment({ payment_data }) {
            this.paymentForm = payment_data.redirect

            this.redirecting = true

            this.submitIframeContent()
        },

        handleBacsPayment() {
            this.processing = false
            this.gotoClientArea = true
        },

        submitIframeContent() {
            this.$refs.checkoutIframe.iApp.submitForm()
        },

        completeCheckout(payload) {
            this.redirecting = false

            if (payload.status == 'success') {
                this.handleSuccess()
            } else {
                this.handleFailed()
            }

            this.finishProcessing()
        },

        toClientArea() {
            window.location.href = process.env.VUE_APP_CLIENT_AREA_URL
        },

        finishProcessing() {
            this.processing = false
            this.snackbar = true
        },

        handleServerError() {
            this.snackbarText =
                'There has been an error, please try again. If the problem persists please contact support'

            this.finishProcessing()
        },
    },
}
</script>

<style scoped>
.disable {
    pointer-events: none;
    opacity: 0.1;
}
</style>
