<template>
    <v-card>
        <v-form
            ref="addingAccountForm"
            v-model="valid"
            @submit.prevent="submit">
            <v-container fluid>
                <v-layout
                    row
                    wrap>
                    <v-flex>
                        <v-text-field
                            :rules="emailRules" 
                            v-model="email"
                            name="email"
                            label="Your email address"
                            prepend-icon="email"
                            persistent-hint
                            autofocus
                            required
                            hint="We don't do spam. Your email will be used to create your account and so we can send your account information only."
                            @input="emailExists = false"/>
                    </v-flex>
                </v-layout>
                <v-layout
                    row
                    wrap
                    align-center
                    justify-end>
                    <div 
                        v-if="emailExists" 
                        class="caption font-weight-light">
                        As you're an existing customer, please order from within your <a :href="linkToClientArea">Client Area</a>.
                    </div>

                    <v-btn
                        :loading="loading"
                        :disabled="!valid"
                        color="primary"
                        type="submit">Next
                    </v-btn>
                </v-layout>
            </v-container>
        </v-form>
    </v-card>
</template>

<script>
import { VTextField, VForm } from 'vuetify'
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'AddAccount',

    components: {
        ...VCard,
        VForm,
        VTextField,
    },

    props: {
        value: {
            type: Object,
            required: true,
        },

        next: {
            type: String,
            default: () => null,
        },
    },

    data() {
        return {
            valid: true,
            loading: false,
            emailExists: false,
            emailRules: [
                v => !!v || 'E-mail is required',
                v =>
                    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
                        v
                    ) || 'Email have to be valid',
            ],
        }
    },

    computed: {
        email: {
            get() {
                return this.value.email
            },

            set(val) {
                this.$emit('input', {
                    ...this.value,
                    email: val,
                })
            },
        },

        linkToClientArea() {
            return process.env.VUE_APP_CLIENT_AREA_URL
        },
    },

    watch: {
        async email(val) {
            const valid = await this.$refs.addingAccountForm.validate()

            return this.$emit('valid', val && valid)
        },
    },

    methods: {
        async submit() {
            const valid = await this.$refs.addingAccountForm.validate()

            if (!valid) return

            const emailExists = await this.checkEmailsExists()

            if (emailExists) {
                this.emailExists = true
            } else {
                this.$emit('submit', this.next)
            }
        },

        async checkEmailsExists() {
            this.loading = true

            const { data } = await this.$http.get(`client/exists/${this.email}`)

            this.loading = false

            return data.result
        },
    },
}
</script>
