<template>
    <v-card>
        <v-container fluid>
            <v-form
                ref="accountBillingForm"
                v-model="valid"
                @submit.prevent="submit">
                <v-layout
                    row
                    wrap>
                    <v-flex
                        xs12
                        sm6>
                        <v-text-field
                            :rules="[v => !!v || 'Name is required']"
                            v-model="name"
                            name="name"
                            required
                            label="Name"/>
                    </v-flex>
                    <v-flex
                        xs12
                        sm6>
                        <v-text-field
                            :rules="[v => !!v || 'Address 1 is required']"
                            v-model="address1"
                            name="address1"
                            required
                            label="Address Line 1"/>
                    </v-flex>
                    <v-flex
                        xs12
                        sm6>
                        <v-text-field
                            v-model="address2"
                            name="address2"
                            label="Address Line 2"/>
                    </v-flex>
                    <v-flex
                        xs12
                        sm6>
                        <v-text-field
                            :rules="[v => !!v || 'County is required']"
                            v-model="county"
                            name="county"
                            required
                            label="County/State"/>
                    </v-flex>
                    <v-flex
                        xs12
                        sm6>
                        <v-text-field
                            :rules="[v => !!v || 'Post Code is required']"
                            v-model="postcode"
                            name="postcode"
                            required
                            label="Post Code"/>
                    </v-flex>
                    <v-flex
                        xs12
                        sm6>
                        <v-text-field
                            :rules="[v => !!v || 'Town/City is required']"
                            v-model="town"
                            name="town"
                            required
                            label="Town/City"/>
                    </v-flex>
                    <v-flex
                        xs12
                        sm6>
                        <v-autocomplete
                            :rules="[v => !!v || 'Country is required']"
                            v-model="country"
                            :items="countries"
                            item-text="text"
                            item-value="value"
                            name="country"
                            label="Country"
                            required
                        />
                    </v-flex>
                    <v-flex
                        xs12
                        sm6>
                        <v-select
                            :rules="[v => !!v || 'Account Type is required']"
                            v-model="type"
                            :items="accounts"
                            item-text="text"
                            item-value="value"
                            name="account"
                            required
                            label="Account Type"
                        />
                    </v-flex>
                </v-layout>

                <div v-show="isCompany">
                    <v-layout
                        row
                        wrap>
                        <v-flex
                            xs12
                            sm6>
                            <v-text-field
                                :rules="isCompany ? [v => !!v || 'Company number is required'] : []"
                                v-model="companyName"
                                name="companyName"
                                required
                                label="Company Name"/>
                        </v-flex>
                        <v-flex
                            xs12
                            sm6>
                            <v-text-field
                                :rules="isCompany ? [v => !!v || 'Company number is required'] : []"
                                v-model="companyNumber"
                                name="companyNumber"
                                required
                                label="Company Number"/>
                        </v-flex>
                        <v-flex
                            xs12
                            sm6>
                            <v-text-field
                                v-model="vatNumber"
                                name="vatNumber"
                                label="VAT Number (if applicable)"/>
                        </v-flex>
                    </v-layout>
                </div>

                <div v-show="isCharity">
                    <v-layout
                        row
                        wrap>
                        <v-flex
                            xs12
                            sm6>
                            <v-text-field
                                :rules="isCharity ? [v => !!v || 'Charity name is required'] : []"
                                v-model="charityName"
                                name="charityName"
                                required
                                label="Charity Name"/>
                        </v-flex>
                        <v-flex
                            xs12
                            sm6>
                            <v-text-field
                                :rules="isCharity ? [v => !!v || 'Charity number is required'] : []"
                                v-model="charityNumber"
                                name="charityNumber"
                                required
                                label="Charity Number"/>
                        </v-flex>
                        <v-flex
                            xs12
                            sm6>
                            <v-text-field
                                v-model="vatNumber"
                                name="vatNumber"
                                label="VAT Number (if applicable)"/>
                        </v-flex>
                    </v-layout>
                </div>

                <v-layout
                    row
                    wrap
                    justify-end>
                    <v-btn
                        :disabled="!valid"
                        color="primary"
                        type="submit">Next
                    </v-btn>
                </v-layout>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import countries from './../utils/countries'
import * as VCard from 'vuetify/es5/components/VCard'
import { VTextField, VSelect, VAutocomplete, VForm } from 'vuetify'

export default {
    name: 'AddBilling',

    components: {
        VSelect,
        VTextField,
        VForm,
        VAutocomplete,
        ...VCard,
    },

    props: {
        value: {
            type: Object,
            required: true,
        },

        next: {
            type: String,
            default: () => null,
        },
    },

    data() {
        return {
            valid: false,
        }
    },

    computed: {
        isUk() {
            return this.country === 'United Kingdom'
        },

        isCompany() {
            return [
                'publicLimitedCompany',
                'limitedCompany',
                'company',
            ].includes(this.type)
        },

        isCharity() {
            return ['charity'].includes(this.type)
        },

        accounts() {
            if (!this.isUk) {
                return [
                    { text: 'Individual', value: 'individual' },
                    { text: 'Company', value: 'company' },
                    { text: 'Other', value: 'other' },
                ]
            }

            return [
                { text: 'Individual', value: 'individual' },
                { text: 'Sole Trader', value: 'soulTrader' },
                { text: 'Limited Company', value: 'company' },
                { text: 'Limited Company', value: 'limitedCompany' },
                {
                    text: 'Public Limited Company',
                    value: 'publicLimitedCompany',
                },
                { text: 'Registered Charity', value: 'charity' },
                { text: 'Other', value: 'other' },
            ]
        },

        countries() {
            return countries
        },
    },

    watch: {
        valid: {
            async handler() {
                return this.$emit('valid', this.valid)
            },
        },
    },

    beforeCreate() {
        ;[
            'name',
            'type',
            'town',
            'country',
            'county',
            'postcode',
            'address1',
            'address2',
            'companyName',
            'companyNumber',
            'charityName',
            'charityNumber',
            'vatNumber',
        ].forEach(field => {
            const handler = {
                get() {
                    return this.value[field]
                },
                set(val) {
                    this.value[field] = val

                    this.$emit('input', { ...this.value })
                },
            }
            this.$options.computed[field] = handler
        })
    },

    methods: {
        async submit() {
            const valid = await this.$refs.accountBillingForm.validate()

            if (!valid) return

            this.$emit('submit', this.next)
        },
    },
}
</script>
