<template>
    <div>
        <v-container fluid>
            <v-layout
                row
                wrap>
                <template v-for="addon in addons">
                    <v-flex
                        v-for="product in addon.products"
                        :key="product.id"
                        :sm12="addon.products.length === 1"
                        :sm6="addon.products.length > 1"
                    >
                        <customize-card
                            :addon="addon"
                            :checked="product"
                            v-model="selected"
                        />
                    </v-flex>
                </template>
            </v-layout>
            <v-layout
                row
                wrap
                justify-end>
                <v-btn
                    color="primary"
                    @click="submit">Next</v-btn>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
import CustomizeCard from './CustomizeCard'
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'AddCustomize',

    components: {
        ...VCard,
        CustomizeCard,
    },

    props: {
        value: {
            type: Object,
            required: true,
        },

        addons: {
            type: Array,
            required: true,
        },

        next: {
            type: String,
            default: () => null,
        },
    },

    computed: {
        selected: {
            get() {
                return this.value.addons
            },

            set(val) {
                this.$emit('input', {
                    ...this.value,
                    addons: val,
                })
            },
        },
    },

    methods: {
        submit() {
            this.$emit('valid', true)

            this.$emit('submit', this.next)
        },
    },
}
</script>
