<template>
    <v-card>
        <v-form
            ref="addingDomainForm"
            v-model="valid"
            novalidate
            @submit.prevent="submit">
            <v-container fluid>
                <v-layout>
                    <v-flex class="body-2 grey--text text--darken-1">
                        Register a new domain, or transfer an existing domain for free.
                        You can also register multiple domain names to protect your brand.
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex sm11>
                        <v-text-field
                            :rules="domainRules"
                            v-model="query"
                            autofocus
                            name="domain"
                            label="Find the perfect domain name"
                            required
                            prepend-icon="public"/>
                    </v-flex>
                    <v-btn
                        :loading="loading"
                        :dark="valid"
                        :disabled="!valid"
                        color="primary"
                        @click="search"
                    >
                        Search
                    </v-btn>
                </v-layout>
            </v-container>

            <domain-list
                :value="value.domains"
                :domains="result"
                @select="addToOrderedList"
            />

            <v-container>
                <v-layout
                    align-end
                    justify-end>
                    <v-btn
                        :disabled="!value.domains.length"
                        color="primary"
                        type="submit"
                    >
                        Next
                    </v-btn>
                </v-layout>
            </v-container>
        </v-form>
    </v-card>
</template>

<script>
import { VTextField, VForm } from 'vuetify'
import DomainList from './DomainList'
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'AddDomain',

    components: {
        ...VCard,
        VTextField,
        DomainList,
        VForm,
    },

    props: {
        value: {
            type: Object,
            required: true,
        },

        next: {
            type: String,
            default: () => null,
        },
    },

    data: () => ({
        query: '',
        result: [],
        loading: false,
        valid: false,
        domainRules: [
            v => !!v || 'Domain name is required',
            v =>
                /^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9]\.[a-zA-Z]{2,}$/.test(
                    v
                ) || 'Domain name must be valid',
        ],
    }),

    watch: {
        value() {
            return this.$emit('valid', !!this.value.domains.length)
        },
    },

    created() {
        const query = this.$cookie.get('query')

        if (query) {
            this.query = query
            this.search()
        }
    },

    methods: {
        addToOrderedList(domain) {
            let domains = this.value.domains.slice()

            if (
                domains.findIndex(
                    item => (item.name || item.domain) === domain.domain
                ) !== -1
            )
                return

            this.$emit('input', {
                ...this.value,
                domains: [...domains, domain],
            })
        },

        async search() {
            this.loading = true

            const { uuid } = JSON.parse(this.$cookie.get('checkout'))

            try {
                const { data } = await this.$http.get(
                    `domain/search/${this.query}/${uuid}`
                )

                this.result = data
            } catch (e) {
                this.$emit('server-error', e)
            }

            this.loading = false
        },

        async submit() {
            this.$cookie.set('query', this.query)

            this.$emit('submit', this.next)
        },
    },
}
</script>
