<template>
    <v-card>
        <v-container fluid>
            <v-form
                ref="addPaymentFrom"
                v-model="valid"
                lazy-validation
                @submit.prevent="submit">
                <v-flex
                    sm12
                    row
                    wrap>
                    <v-radio-group
                        :rules="[v => !!v || 'Payment method is required']"
                        v-model="payment_method"
                        row
                        name="payment"
                        required
                    >
                        <v-radio
                            v-for="payment in payments"
                            :label="payment.label"
                            :value="payment.value"
                            :key="payment.value"
                        />
                    </v-radio-group>
                </v-flex>

                <div v-show="isCard">
                    <v-layout
                        row
                        wrap>
                        <v-flex sm12>
                            <v-text-field
                                :rules="isCard ? [v => !!v || 'Name is required'] : []"
                                v-model="card_name"
                                name="nameOnCard"
                                data-vv-as="name"
                                required
                                label="Name on Card"/>
                        </v-flex>
                        <v-flex sm12>
                            <div class="tw-flex tw-relative">
                                <v-text-field
                                    :rules="isCard ? [
                                        v => !!v || 'Card number is required',
                                        validCard.isValid || 'Card number not valid'
                                    ] : []"
                                    v-model="card_number"
                                    name="cardNumber"
                                    mask="credit-card"
                                    required
                                    label="Card Number"/>
                                <transition name="card-fade">
                                    <svg-icon
                                        v-if="isCard && validCard.card"
                                        :name="validCard.card.type || 'default'"
                                        class="tw-absolute tw-h-14 tw-w-14 tw-pin-r align-bottom"/>
                                </transition>
                            </div>
                        </v-flex>
                        <v-flex sm6>
                            <v-text-field
                                :rules="isCard ? [
                                    v => !!v || 'Expiry date is required',
                                    v => parseInt(v) > parseInt(cardExpiryRules) || 'Expiry date is not valid'
                                ] : []"
                                v-model="card_expiry"
                                name="expiry"
                                mask="##/##"
                                placeholder="MM/YY"
                                required
                                label="Expiry"/>
                        </v-flex>
                        <v-flex sm6>
                            <v-text-field
                                :rules="isCard ? [
                                    v => !!v || 'Security code is required',
                                    v => v.length === securityCodeDigits || `Security code should be ${securityCodeDigits} digit number`
                                ] : []"
                                v-model="card_cvv"
                                :hint="`Last ${securityCodeDigits} digits on back of card`"
                                name="securityCode"
                                required
                                persistent-hint
                                label="Security Code"/>
                        </v-flex>
                    </v-layout>
                </div>

                <v-layout
                    row
                    wrap>
                    <v-flex sm12>
                        <v-checkbox
                            :rules="[v => !!v || 'You must agree with terms and condition']"
                            v-model="agree"
                            label="I have read and agree to the Terms and Conditions."
                            name="agree"
                            required
                            type="checkbox"
                        />
                    </v-flex>
                </v-layout>

                <v-layout
                    align-end
                    justify-end>
                    <v-btn
                        :loading="processing"
                        :disabled="!valid"
                        color="primary"
                        type="submit">Buy Now
                    </v-btn>
                </v-layout>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import dayjs from 'dayjs'
import card from 'card-validator'
import SvgIcon from './SvgIcon'
import { VTextField, VSelect, VCheckbox, VForm } from 'vuetify'
import * as VCard from 'vuetify/es5/components/VCard'
import * as VRadioGroup from 'vuetify/es5/components/VRadioGroup'

export default {
    name: 'AddPayment',

    components: {
        VSelect,
        VCheckbox,
        VTextField,
        SvgIcon,
        ...VCard,
        ...VRadioGroup,
        VForm,
    },

    props: {
        value: {
            type: Object,
            required: true,
        },
        processing: {
            type: Boolean,
            default: () => false,
        },
    },

    data: () => ({
        agree: true,
        valid: false,
    }),

    computed: {
        isCard() {
            return this.payment_method == 'card'
        },

        validCard() {
            return card.number(this.card_number)
        },

        securityCodeDigits() {
            return this.validCard.card && this.validCard.card.isAmex ? 4 : 3
        },

        agreedForCheckout() {
            return this.agree && this.valid
        },

        cardExpiryRules() {
            const date = dayjs()
                .subtract(1, 'month')
                .format('MMYY')
            return date
        },

        payments() {
            return [
                { label: 'Card', value: 'card' },
                { label: 'PayPal', value: 'paypal' },
                {
                    label: 'Bank Transfer / Cheque',
                    value: 'bacs',
                },
            ]
        },
    },

    watch: {
        agreedForCheckout: {
            async handler(val) {
                return this.$emit('valid', val)
            },
        },
    },

    beforeCreate() {
        ;[
            'payment_method',
            'card_name',
            'card_number',
            'card_expiry',
            'card_cvv',
        ].forEach(field => {
            const handler = {
                get() {
                    return this.value[field]
                },
                set(val) {
                    this.value[field] = val

                    this.$emit('input', { ...this.value })
                },
            }
            this.$options.computed[field] = handler
        })
    },

    methods: {
        async submit() {
            const valid = await this.$refs.addPaymentFrom.validate()

            valid && this.$emit('submit')
        },
    },
}
</script>

<style scoped>
.align-bottom {
    bottom: 20px;
}

.card-fade-enter-active {
    transition: all 0.3s ease;
}

.card-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.card-fade-enter,
.card-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}
</style>
