<template>
    <v-card>
        <v-container fluid>
            <v-layout
                row
                wrap>
                <v-flex class="body-2 grey--text text--darken-1 mb-3">
                    Lock in your saving by buying longer, the intro rate of £1.50 / month is only available for first time customers.
                </v-flex>
            </v-layout>
            <v-layout
                row
                wrap>
                <v-flex>
                    <term-card
                        v-for="term in terms"
                        v-model="selected"
                        :term="term"
                        :key="term.id"
                    />
                </v-flex>
            </v-layout>
            <v-layout
                row
                wrap
                justify-end>
                <v-btn
                    :disabled="!selected"
                    color="primary"
                    @click="$emit('submit', next)"
                >
                    Next
                </v-btn>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>
import TermCard from './TermCard'
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'AddTerm',

    components: {
        ...VCard,
        TermCard,
    },

    props: {
        value: {
            type: Object,
            required: true,
        },

        terms: {
            type: Array,
            required: true,
        },

        next: {
            type: String,
            default: () => null,
        },
    },

    computed: {
        selected: {
            get() {
                if (this.queryTerm) {
                    return this.queryTerm.id
                }

                return this.value.term_id
            },

            set(val) {
                this.$emit('input', {
                    ...this.value,
                    term_id: val,
                })

                this.$router.push({
                    query: { term: this.findTermById(val).name },
                })
            },
        },

        queryTerm() {
            return this.findTermByName(this.$route.query.term)
        },
    },

    watch: {
        selected: {
            immediate: true,
            handler(val) {
                return this.$emit('valid', !!val)
            },
        },
    },

    methods: {
        findTermByName(name) {
            return this.terms.find(term => term.name === name)
        },

        findTermById(id) {
            return this.terms.find(term => term.id === id)
        },
    },
}
</script>
