<template>
    <v-app id="app">
        <app-header/>
        <transition
            name="fade"
            mode="out-in">
            <v-content>
                <keep-alive>
                    <router-view/>
                </keep-alive>
            </v-content>
        </transition>
    </v-app>
</template>

<script>
import AppHeader from './AppHeader'

export default {
    name: 'App',

    components: { AppHeader },
}
</script>

<style>
@tailwind preflight;

[v-cloak] > * {
    display: none;
}

@tailwind utilities;

/* transitions */
.fade-enter-active,
.fade-leave-active {
    transition: all 0.25s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}
</style>
