<template>
    <header class="primary">
        <v-container>
            <v-layout
                row
                wrap>
                <v-flex xs3>
                    <img
                        class="app-logo"
                        src="logo-white.svg"
                    >
                </v-flex>
                <v-flex
                    xs9
                    class="white--text text-xs-right font-weight-regular"
                >
                    <div class="layout align-center justify-end row fill-height">
                        <div class="header-quote">The UK's #1 Rated Webhost - trusted by <b>237,128</b> customers</div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </header>
</template>

<script>
export default {
    name: 'AppHeader',
}
</script>

<style>
.app-logo {
    height: 28px;
}

.header-quote {
    font-size: 11px;
}

@media (min-width: 600px) {
    .app-logo {
        height: 40px;
    }
}

@media (min-width: 700px) {
    .header-quote {
        font-size: 16px;
    }
}

@media (min-width: 960px) {
    .header-quote {
        font-size: 20px;
    }
}
</style>
