<script>
import Vue from 'vue'

export default {
    name: 'CheckoutIframe',

    beforeUpdate() {
        this.iApp.children = Object.freeze(this.$slots.default)
    },

    methods: {
        iframeDocument() {
            return this.$el.contentDocument || this.$el.contentWindow.document
        },

        renderChildren() {
            const children = this.$slots.default
            const iframeDocument = this.iframeDocument()
            const el = document.createElement('div')
            iframeDocument.body.appendChild(el)

            this.$el.onload = () => {
                const iframeDocument = this.iframeDocument()
                const element = iframeDocument.body.querySelector('pre')
                if (element) {
                    element.style.display = 'none'
                    const payload = JSON.parse(element.innerHTML)
                    this.$emit('content-loaded', payload)
                }
            }

            const iApp = new Vue({
                name: 'IApp',
                data: { children: Object.freeze(children) },
                methods: {
                    submitForm() {
                        this.$nextTick(() => {
                            const paymentForm = this.$el.getElementsByTagName(
                                'form'
                            )[0]
                            paymentForm.submit()
                        })
                    },
                },
                render(h) {
                    return h('div', this.children)
                },
            })

            iApp.$mount(el)

            this.iApp = iApp
        },
    },

    render(h) {
        return h('iframe', {
            on: { load: this.renderChildren },
        })
    },
}
</script>

<style scoped>
iframe {
    width: 100vw;
    height: 100vh;
    display: block;
}
</style>
