<template>
    <div>
        <v-card>
            <slot/>
            <v-divider/>
            <v-card
                v-if="subTotal"
                flat>
                <v-container>
                    <v-layout
                        row
                        wrap>
                        <v-flex xs12>
                            <div class="tw-flex">
                                <div class="tw-flex-1 mr-3">
                                    <span>SubTotal</span>
                                </div>
                                <div>{{ subTotal | pound }}</div>
                            </div>
                            <div class="tw-flex">
                                <div class="tw-flex-1 mr-3">
                                    <span>VAT</span>
                                </div>
                                <div>{{ vat | pound }}</div>
                            </div>
                        </v-flex>
                        <v-flex xs12>
                            <div class="tw-flex">
                                <div class="title tw-flex-1 mr-3">
                                    <span>Total</span>
                                </div>
                                <div class="title">{{ subTotal - vat | pound }}</div>
                            </div>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-card>
        <div class="right my-3 hidden-sm-and-down">
            <img
                src="norton-secured-seal.png"
                style="height: 100px;"
            >
        </div>
    </div>
</template>

<script>
import { VDivider } from 'vuetify'
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'CheckoutSummary',

    components: {
        ...VCard,
        VDivider,
    },

    props: {
        subTotal: {
            type: Number,
            required: true,
        },
    },

    data: () => ({ vat: 5 }),
}
</script>
