<template>
    <v-card flat>
        <v-card-title 
            class="headline grey lighten-4" 
            v-text="dataProduct.name"/>
        <v-container>
            <v-layout
                row
                wrap>
                <v-flex xs12>
                    <div
                        v-for="spec in dataSpecs"
                        :key="spec.id"
                        class="mb-1"
                        v-text="spec.title"
                    />
                </v-flex>
                <v-flex
                    v-if="dataTerm.description"
                    xs12>
                    <div class="tw-flex">
                        <div class="tw-flex-1 mr-3">
                            <span v-text="dataTerm.description"/>
                            <a
                                href="#"
                                class="caption tw-ml-1"
                                @click.prevent="$emit('modify')">(modify)</a>
                        </div>
                        <div>{{ dataTerm.intro_cost | pound }}</div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'CostPower',

    components: {
        ...VCard,
    },

    props: {
        dataProduct: {
            type: Object,
            required: true,
        },

        dataSpecs: {
            type: Array,
            required: true,
        },

        dataTerm: {
            type: Object,
            required: true,
        },
    },

    watch: {
        dataTerm: {
            handler() {
                this.$emit('total', this.dataTerm.intro_cost || 0)
            },
            immediate: true,
        },
    },
}
</script>
