<template>
    <v-card flat>
        <v-card-title class="headline grey lighten-4">Addons</v-card-title>
        <v-container>
            <v-layout
                row
                wrap>
                <v-flex
                    v-for="({ item, term }) in addons"
                    :key="item.id"
                    xs12>
                    <div class="tw-flex">
                        <div class="tw-flex-1 mr-3">
                            <span>{{ item.product.name }} - {{ dataTerm.display_name }}</span>
                            <a
                                href="#"
                                class="caption tw-ml-1"
                                @click.prevent="$emit('modify')">(modify)</a>
                        </div>
                        <div>{{ term.cost | pound }}</div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'CostAddons',

    components: {
        ...VCard,
    },

    props: {
        dataAddons: {
            type: Array,
            required: true,
        },

        dataTerm: {
            type: Object,
            required: true,
        },
    },

    computed: {
        addons() {
            return this.dataAddons.map(item => {
                const terms = item.terms || item.product.terms

                const term = terms.find(
                    term => term.name === this.dataTerm.name
                )

                return { term, item }
            })
        },
    },

    watch: {
        addons: {
            handler() {
                const cost = this.addons
                    .map(item => item.term.cost)
                    .reduce((acc, total) => acc + total, 0)

                this.$emit('total', cost)
            },
            immediate: true,
        },
    },
}
</script>
