<template>
    <v-card flat>
        <v-card-title class="headline grey lighten-4">Domain Names</v-card-title>
        <v-container>
            <v-layout
                row
                wrap>
                <v-flex
                    v-for="domain in domains"
                    :key="domain.item.id"
                    xs12
                >
                    <div class="tw-flex">
                        <div class="tw-flex-1 mr-3">
                            <span v-text="domain.item.name || domain.item.domain"/>
                            <a
                                href="#"
                                class="caption tw-ml-1"
                                @click.prevent="$emit('remove', domain.item)">(remove)</a>
                        </div>
                        <div>{{ domain.term.cost | pound }}</div>
                    </div>
                    <div
                        v-if="domain.item.has_privacy"
                        class="tw-flex pl-2 caption">
                        <div class="tw-flex-1 mr-3">
                            <div class="tw-flex">
                                Whois Privacy:
                                <span
                                    :class="[ domain.item.has_privacy ? 'green--text' : 'red--text' ]"
                                    class="tw-mx-1 tw-items-baseline">
                                    {{ domain.item.has_privacy ? 'Protected' : 'Unprotected' }}
                                </span>
                                <order-domain
                                    :domain="domain.item"
                                >
                                    <a href="#">
                                        {{ domain.item.has_privacy ? 'remove' : 'add' }}
                                    </a>
                                </order-domain>
                            </div>
                        </div>
                        <div>{{ domain.item.privacy_cost | pound }}</div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>
import OrderDomain from './OrderDomain'
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'CostDomains',

    components: {
        ...VCard,
        OrderDomain,
    },

    props: {
        dataDomains: {
            type: Array,
            required: true,
        },

        dataTerm: {
            type: Object,
            required: true,
        },
    },

    computed: {
        domains() {
            return this.dataDomains.map(item => {
                const terms = item.terms || item.domain.terms

                const term = terms.find(
                    term => term.name === this.dataTerm.name
                )

                return { term, item }
            })
        },
    },

    watch: {
        domains: {
            handler() {
                const cost = this.domains
                    .map(item => item.term.cost)
                    .reduce((acc, total) => acc + total, 0)

                this.$emit('total', cost)
            },
            immediate: true,
        },
    },
}
</script>
