<template>
    <div
        :class="{ 'customize--active': isActive }"
        class="tw-border tw-rounded tw-cursor-pointer hover:tw-bg-grey-lighter tw-select-none"
        @click="toggle"
    >
        <v-container fluid>
            <v-layout
                row
                wrap
                align-center>
                <v-flex sm3>
                    <div class="tw-flex tw-justify-center tw-flex-wrap">
                        <v-icon
                            x-large
                            v-text="checked.product.icon"/>
                    </div>
                </v-flex>
                <v-flex sm9>
                    <div class="tw-flex-no-shrink">
                        <div
                            class="title mb-3"
                        >
                            <span v-text="checked.product.name"/>
                            (<span>{{ checked.product.terms[0].cost | pound }}/</span>
                            <span class="caption">year</span>)
                        </div>
                        <div
                            class="body-2 tw-text-grey-dark"
                            v-text="checked.product.description"/>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'CustomizeCard',

    components: {
        ...VCard,
    },

    props: {
        value: {
            type: Array,
            required: true,
        },

        addon: {
            type: Object,
            required: true,
        },

        checked: {
            type: Object,
            required: true,
        },
    },

    computed: {
        isActive() {
            return this.value.findIndex(item => this.isChecked(item)) !== -1
        },

        hasMultiple() {
            return this.addon.products.length > 1
        },
    },

    methods: {
        toggle() {
            let values = this.value.slice()

            if (this.isActive) {
                return this.$emit(
                    'input',
                    this.value.filter(item => !this.isChecked(item))
                )
            }

            if (this.hasMultiple) {
                const other = this.addon.products.find(
                    item => !this.isChecked(item)
                )
                const index = values.findIndex(
                    item => item.product_id === other.product_id
                )
                index !== -1 && values.splice(index, 1)
            }

            this.$emit('input', [...values, this.checked])
        },

        isChecked(item) {
            return item.product_id === this.checked.product_id
        },
    },
}
</script>

<style>
.customize--active {
    background-color: #27ae60 !important;
}

.customize--active * {
    color: #fff !important;
}
</style>
