<template>
    <v-container>
        <v-layout
            row
            wrap>
            <v-flex>
                <v-data-table
                    :headers="headers"
                    :items="domains"
                    hide-actions
                >
                    <template
                        slot="items"
                        slot-scope="{ item }">
                        <tr :key="item.id">
                            <td>{{ item.domain }}</td>
                            <td class="text-xs-left">
                                <v-icon
                                    v-if="item.available"
                                    color="green">check_box</v-icon>
                                <v-icon
                                    v-else
                                    color="red">cancel</v-icon>
                            </td>
                            <td class="text-xs-left"><strong>{{ item.terms[0].cost | pound }}</strong><small> /year</small></td>
                            <td class="text-xs-left">
                                <order-domain
                                    v-if="item.available"
                                    :domain="item"
                                    @confirm="$emit('select', $event)"
                                >
                                    <v-tooltip
                                        slot-scope="{ order }"
                                        right
                                    >
                                        <v-btn
                                            v-if="item.has_privacy"
                                            slot="activator"
                                            icon
                                        >
                                            <v-icon
                                                v-if="value.find(domain => (domain.name || domain.domain) === item.domain)"
                                                color="green"
                                            >
                                                check_box
                                            </v-icon>
                                            <v-icon
                                                v-else
                                                color="primary"
                                            >
                                                add_box
                                            </v-icon>
                                        </v-btn>
                                        <v-btn
                                            v-else
                                            slot="activator"
                                            icon
                                            @click="() => { order() }"
                                        >
                                            <v-icon
                                                v-if="value.find(domain => (domain.name || domain.domain) === item.domain)"
                                                color="green"
                                            >
                                                check_box
                                            </v-icon>
                                            <v-icon
                                                v-else
                                                color="primary"
                                            >
                                                add_box
                                            </v-icon>
                                        </v-btn>
                                        <span>Order</span>
                                    </v-tooltip>
                                </order-domain>
                                <transfer-domain
                                    v-else
                                    :domains="value"
                                    :domain="item"
                                    @confirm="$emit('select', $event)"
                                />
                            </td>
                        </tr>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import OrderDomain from './OrderDomain'
import TransferDomain from './TransferDomain'
import { VDataTable, VTooltip } from 'vuetify'

export default {
    name: 'DomainList',

    components: {
        VTooltip,
        VDataTable,
        OrderDomain,
        TransferDomain,
    },

    props: {
        domains: {
            type: Array,
            required: true,
        },

        value: {
            type: Array,
            default: () => [],
        },
    },

    data: () => ({
        headers: [
            { text: 'Domain', sortable: false },
            { text: 'Available', sortable: false },
            { text: 'Cost', sortable: false },
            { text: 'Order', sortable: false },
        ],
    }),
}
</script>
