<template>
    <div>
        <v-dialog
            v-if="domain.has_privacy"
            v-model="dialog"
            max-width="500"
        >
            <template slot="activator">
                <slot/>
            </template>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-2">
                            Protect Your Identity With <br>
                            <span class="green--text">Domain Privacy</span>
                        </h3>
                        <div>
                            Stop solicitors from getting your private information from the iCANN registry.
                            Let Domain Privacy mask your private information
                        </div>
                    </div>
                </v-card-title>
                <v-container fluid>
                    <v-layout>
                        <v-flex md6>
                            <v-btn
                                class="ma-0"
                                color="green darken-1"
                                flat
                                @click="() => { order(true) }"
                            >
                                With Domain Privacy
                            </v-btn>
                        </v-flex>
                        <v-flex md6>
                            <v-btn
                                class="ma-0"
                                color="red darken-1"
                                flat
                                @click="() => { order() }"
                            >
                                Without Domain Privacy
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-dialog>

        <slot
            v-else
            :order="order"
        />
    </div>
</template>

<script>
import { VDialog, VTooltip } from 'vuetify'
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'OrderDomain',

    components: {
        VDialog,
        VTooltip,
        ...VCard,
    },

    props: {
        domain: {
            type: Object,
            required: true,
        },
    },

    data: () => ({
        dialog: false,
    }),

    methods: {
        order(hasPrivacy = false) {
            this.dialog = false

            this.$emit('confirm', {
                ...this.domain,
                has_privacy: hasPrivacy,
            })
        },
    },
}
</script>
