<template>
    <div
        :class="{ 'term--active': term.id == value }"
        class="tw-border tw-rounded tw-cursor-pointer hover:tw-bg-grey-lighter mb-2 tw-select-none"
        @click="$emit('input', term.id)">
        <v-container fluid>
            <v-layout
                row
                wrap
                align-center>
                <v-flex sm8>
                    <div>
                        <div
                            class="title mb-1"
                            v-text="term.display_name"/>
                        <div
                            class="tw-text-grey-dark"
                            v-text="term.description"/>
                    </div>
                </v-flex>
                <v-flex sm2>
                    <div class="text-md-center">
                        <div class="title">{{ term.saving_percent | percent }}</div>
                        <div class="tw-text-grey-dark">Saving</div>
                    </div>
                </v-flex>
                <v-flex sm2>
                    <div class="text-md-center">
                        <div class="title">{{ term.intro_cost | pound }}</div>
                        <div class="tw-text-grey-dark">Total</div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
import * as VCard from 'vuetify/es5/components/VCard'

export default {
    name: 'TermCard',

    components: {
        ...VCard,
    },

    props: {
        term: {
            type: Object,
            required: true,
        },

        value: {
            type: [String, Number],
            default: () => null,
        },
    },
}
</script>

<style>
.term--active {
    background-color: #27ae60 !important;
}

.term--active * {
    color: #fff !important;
}
</style>
