<template>
    <v-dialog
        v-model="dialog"
        persistent
        width="500"
    >
        <template slot="activator">
            <v-tooltip right>
                <v-btn
                    slot="activator"
                    icon
                >
                    <v-icon
                        v-if="domains.find(item => (item.name || item.domain) === domain.domain)"
                        color="green"
                    >
                        check_box
                    </v-icon>
                    <v-icon
                        v-else
                        color="primary"
                    >
                        swap_horiz
                    </v-icon>
                </v-btn>
                <span>Transfer</span>
            </v-tooltip>
        </template>

        <v-form
            ref="transferDomainForm"
            v-model="valid"
        >
            <v-card>
                <v-card-title
                    class="headline grey lighten-4"
                    primary-title
                >
                    Domain Transfer
                </v-card-title>

                <div v-if="isEPP">
                    <v-card-text>
                        To transfer <strong
                            class="grey--text text--darken-3"
                            v-text="domain.name || domain.domain"/> from another provider,
                        enter the <strong class="grey--text text--darken-3">EPP authorisation key</strong> below.
                        You can get this key from your current provider.
                        Please also ensure the domain is unlocked in your current provider’s control panel.
                    </v-card-text>

                    <v-flex class="px-3 pb-3">
                        <v-text-field
                            :rules="[v => !!v || 'Epp authorisation key is required']"
                            v-model="epp"
                            autofocus
                            name="epp"
                            label="EPP authorisation key"
                            required
                        />
                    </v-flex>
                </div>

                <v-card-text v-else>
                    After you have completed your checkout,
                    ask your current registrar for <strong
                        class="grey--text text--darken-3"
                        v-text="domain.name || domain.domain"/>
                    to change the IPS Tag to ENIXLTD - this will transfer the domain to us instantly and automatically.
                    You may also be able to do this in your current registrar’s control panel.
                </v-card-text>

                <v-card-actions>
                    <v-spacer/>
                    <v-btn
                        v-if="isEPP"
                        flat
                        @click="cancel"
                    >
                        Do this later
                    </v-btn>
                    <v-btn
                        :disabled="!valid"
                        color="primary"
                        flat
                        @click="confirm"
                    >
                        Continue
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
import * as VCard from 'vuetify/es5/components/VCard'
import { VDialog, VTooltip, VTextField, VForm } from 'vuetify'

export default {
    name: 'TransferDomain',

    components: {
        VDialog,
        VTooltip,
        VTextField,
        ...VCard,
        VForm,
    },

    props: {
        domain: {
            type: Object,
            required: true,
        },

        domains: {
            type: Array,
            required: true,
        },
    },

    data: () => ({
        epp: null,
        dialog: false,
        valid: false,
    }),

    computed: {
        isEPP() {
            return 'epp' === this.domain.transfer_type
        },
    },

    methods: {
        async confirm() {
            const valid = await this.$refs.transferDomainForm.validate()

            if (!valid) return

            this.dialog = false

            const domain = {
                ...this.domain,
            }

            if (this.isEPP) {
                domain['epp'] = this.epp
            }

            this.$emit('confirm', domain)
        },

        cancel() {
            this.epp = null
            this.dialog = false
        },
    },
}
</script>
